/* github.css */

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.combo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* width: 20rem; */
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  padding: 10px 10px;
}

button {
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.download{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download p{
  font-weight: 600;
}
p {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}
.commit{
  background-color: #FFA;
  list-style: none;
  max-height: 10rem;
  overflow-y: scroll;
  padding: 10px 10px;
  font-size: large;
  font-weight: 700;
  border-radius: 1rem;
  width: 10rem;

}
.downloadbody{
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .container{
    width: 95%;
  }
  .commit{
    width: 20rem;
  }
}